body,
html {
  height: 100%;
  margin: 0;
}

.all-cont {
  height: 100%;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 200px 100px 100px 105px 300px 300px 200px;
  grid-template-rows: 100px 100px 500px 100px;
  gap: 10px;
}
