body,
html {
  margin: 0;
  background-color: #e2e8f0;
}

.all-cont {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 230px;
  grid-template-rows: 200px 10px 442px;
  gap: 10px;
}

.dashboard-cont {
  min-height: 653px;
  width: 200px;

  background-color: #1992d4;
}
.dashboard-cont {
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 5px;
}
.dash-share {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dash-share img {
  margin-top: 8px;
  height: 20px;
  width: auto;
}

.settings-cont {
  margin-top: 60px;
}

.top-cont {
  border: 1px solid red;
  min-width: 1047px;
  height: 180px;
  margin-left: -10px;
  padding-top: 10px;
  grid-column: 2;
  grid-row: 1;
}
.p {
  text-align: center;
}
.search-cont {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.search {
  min-width: 600px;
  min-height: 19px;
  max-height: 20px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: none;
  border: 0;
  background-color: #e2e8f0;
}

.searchicon {
  width: auto;
  height: 25px;
  margin-left: 40px;
}

.grid-cont {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 200px 200px;
  grid-template-rows: 200px 142px;
  grid-row: 3;
  grid-column: 2;
}

.grid-cont > div {
  border: 1px solid red;
}

.imposapp {
  height: 200px;
}

.easy {
  height: 200px;
}

.supercool {
  height: 200px;
}

.lesscool {
  height: 200px;
}
